@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;  /* border-box-automatically size the content when padding and margin adjust, content-box*/
  font-family: Outfit;
}
.app{
  width:80%;  /* 80% of its parent container*/
  margin:auto;  /* center elements horizontally within parent container*/
}
@keyframes fadeIn{  /*animation*/
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
 